@{
    ViewData["Title"] = "Inicio";
}
<h1>Bienvenidos</h1>

<p>Espero encuentre lo que busques</p><br>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <style>
        .padre {
        background: #B2D6F3;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .hijo {
        background: #B2D6F3;
        width: 250px;
        justify-content: center;

        }
    </style>
</head>

<div class="hijo">

    <body>
        <img src="../asset/minions.gif" alt="Mini">
    </body>
</div>